.flight-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: center;

    button {
        margin-left: 10px;
        background-color: rgb(238, 235, 235);
        border-radius: 3px;
        outline: none;
        border: none;

        &.active {
            background-color: #fe2c55;
            color: white;
        }

        &:hover {
            background-color: rgb(210, 208, 208);
        }

        &.info {
            background-color: #3e99fb;
            color: white;
        }
    }

    .react-datepicker__input-container input {
        display: block;
        width: 90% !important;
    }

    label {
        margin-left: 5px;
    }
}

.plan-container {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        margin-left: 10px;

        &:hover {
            background-color: rgb(210, 208, 208);
        }
    }

    tr td {
        padding: 1px;
        border: 1px solid black;
    }

    tr th {
        text-align: center;
        border: 1px solid black;
    }

    table {
        float: left;
        margin-left: 10px;
    }

    input {
        background-color: transparent;
        border: none;
        width: 100%;
    }

    input:hover {
        background-color: #fffaf3;
    }

    input:focus {
        outline: 1px solid #ccc;
        border: 1px solid #ccc;
    }

    h3 {
        text-align: center;
    }

    .subPlan-container {
        .power-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

}