.header-container {
    button {
        margin-left: 10px;
        background-color: rgb(238, 235, 235);
        border-radius: 3px;
        outline: none;
        border: none;

        &.active {
            background-color: #fe2c55;
            color: white;
        }

        &:hover {
            background-color: rgb(210, 208, 208);
        }

        &.info {
            background-color: #3e99fb;
            color: white;
        }
    }
}

.phase-container {
    display: flex;
    justify-content: center;

    input {
        background-color: transparent;
        border: none;
        // width: 100%;
    }

    input:hover {
        background-color: #fffaf3;
    }

    input:focus {
        outline: 1px solid #ccc;
        border: 1px solid #ccc;
    }

    th.multipleCell1 {
        table-layout: fixed;
        width: 150px;
        overflow: hidden;
        word-wrap: break-word;
    }
}