.pointCode-container {

    .user-header {
        .search-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .pointCode-body {
        display: flex;
        align-items: center;
        justify-content: center;

        tr th {
            text-align: center;
        }

        tr:hover {
            background-color: rgb(232, 232, 216);
        }

    }

    .user-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}