.manage-users-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px;

    .search-container {
        display: flex;
        // justify-content: center;
        // align-items: center;
    }

    .title {
        text-align: center;
        font-size: 23px;
        font-weight: 600;
        padding-top: 30px;
    }

    .text {
        font-weight: 600;
        padding-bottom: 3px;
    }

    input {
        padding: 5px;
        outline: none;
        background: #1618230f;
        border: none;
        border-radius: 3px;
        width: 100%;
        margin-right: 2px;

        &:hover {
            background-color: #dedede;
        }
    }

    button {
        padding: 7px;
        border-radius: 3px;
        outline: none;
        border: none;

        &.active {
            background-color: #fe2c55;
            color: white;
        }
    }
}